* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #06181f;

    .container {
        position: relative;
        width: 800px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
            width: 200px;

            path {
                fill: transparent;
                stroke-width: 10;
                stroke: #31e9ff;
            }
        }

        .heart {
            path {
                stroke-dasharray: 1560;
                stroke-dashoffset: 0;
            }

            &:hover path {
                animation: animate-heart 2s linear forwards;
            }
        }

        .star {
            path {
                stroke-dasharray: 1810;
                stroke-dashoffset: 0;
            }

            &:hover path {
                animation: animate-star 2s linear forwards;
            }
        }

        .moon {
            path {
                stroke-dasharray: 1560;
                stroke-dashoffset: 0;
            }

            &:hover path {
                animation: animate-moon 2s linear forwards;
            }
        }
    }
}

@keyframes animate-heart {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1560;
    }
    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3120;
        fill: #31e9ff;
    }
}
@keyframes animate-star {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1810;
    }
    80% {
        stroke-dashoffset: 3620;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3620;
        fill: #31e9ff;
    }
}
@keyframes animate-moon {
    0% {
        stroke-dashoffset: 0;
    }
    40% {
        stroke-dashoffset: 1560;
    }
    80% {
        stroke-dashoffset: 3120;
        fill: transparent;
    }
    100% {
        stroke-dashoffset: 3120;
        fill: #31e9ff;
    }
}